*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

#myVideo {
    z-index:-1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#first-part{
    padding-top: 30px;
    padding-left: 30px;
}

#Logo{
    width: 120px;
    height: 120px;
    position:absolute;
    z-index:3;
    display: flex;
    flex-direction: row;
}

.title{
    color: black;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 150px;
    font-size: 25px;
}

.cuerpo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 60px;
    padding: 50px;
    margin-left:55px;
}   

#FotoCuerpo{
    width: 600px;
    height: 400px;
    margin: 20px;
}

#FotoGracias{
    width: 600px;
    height: 400px;
    margin-left:-55px;
}

.titulo{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    font-size: 20px;
}


form{  
    background-color: black;
    color: white;
    width: 325px;
    padding: 30px;
    margin: 50px;
    border-radius: 5px;
    font-size: 17px;
    line-height: 20px;
}

#form-two{ 
    background-color: black;
    color: white;
    width: 470px;
    padding: 30px;
    margin: 50px;
    border-radius: 5px;
    font-size: 17px;
}

.form-two-fonts{
    font-size: 20px;
}

input{
    outline: none;
}

.field{
    font-family: 'Work Sans', sans-serif; 
    border:solid 1px white;
    border-radius: 3px;
    padding: 4px;
}

.field:focus{
    border-color: gray;
}

.btn { 
    font-family: 'Work Sans', sans-serif; 
    font-size: 17px;
    background-color: black;
    color: white;
    border:solid 1px white;
    border-radius: 100px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn-before { 
    font-family: 'Work Sans', sans-serif; 
    font-size: 17px;
    background-color: black;
    color: white;
    border:solid 1px black;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    justify-content: center;  
    align-items: center;
}

.btn-before:hover {
    background-color: white;
    color: black;
    border:solid 1px white;
}

#full-form{
    display: flex;
    flex-direction:row;
    gap: 50px;
}

#first-form{
    display: flex;
    flex-direction:column;
   
}

#first-form div{
    display: flex;
    flex-direction:row;
    justify-content: center;  
    align-items: center;
}

textarea {
    resize: none;
}


